mixin userRow(user, i)
  if(user.vs.site) 
    tr
      td.mname= user.key
      td.payout 0
      for t, tt in gr
        td(class='m#{t.ot.gnumber}')
          for s, j in user.vs.site
            if(user.vs.site[j] == t.ot.gnumber)
              button(type='button', class='btn btn-success')
div#hload
  h1= iid
  button#chl.btn.btn-danger Close
  if(admin)
    button#tiSave.btn.btn-info Save
    button#delEntry.btn.btn-danger Delete Entry
  table#groups.table.table-condensed
    thead
      tr
        td Group Number
        td Total Estimate
        td Number of People
        td Split Per
    tbody
      for g in gr
        tr(class="g#{g.ot.gnumber}")
          td.gNum= g.ot.gnumber
          td.totalEst= g.ot.estTotal
          td.numPeople= g.ot.people
          td.perTotal= g.ot.split
  table#vals.table.table-condensed
    thead
      tr
        td Real Value of Loot
        td Estimated Value
        td % of Estimated
        td Total Cut
        td Total After Cut
    tbody
      tr
        td.vReal
          if(rv)
            = rv
          else
            input(type='text', class='form-control')
        td.vEst 0
        td.vPer percent
        td.vcTax 0
        td.vTotal 0
  table#main.table.table-striped.table-hover.table-bordered.table-condensed
    thead
      tr
        td Total
        td.gTotal 0
        for gg in gr
          td(class="i#{gg.ot.gnumber}")= gg.ot.estTotal
    tbody
      for user, i in mem
        +userRow(user, i)