extends layout

mixin personTile(d, act)
  div(class=(act) ? 'active panel-primary' : 'panel-default').panel
    div.panel-heading
      h3.panel-title #{d.person}
    div(class=(act) ? 'active' : '').person-tile.panel-body
      ul.itemList.list-unstyled
        if d.items.length > 0
          for it in d.items
            li
              p.item= it.item
              p.quant= it.quantity
              if(act)
                button(type='button', class='btn btn-small btn-danger deleteItem') X
              else
                if(user.admin)
                  button(type='button', class='btn btn-small btn-danger deleteItem adminDeleteItem') X
                button(type='button', class='btn btn-small btn-default boughtToggle', data-bought='false') +
        else
          if(act)
            p No Items
      if(d.owed)
        h4 Owed
        ul.owedList.list-unstyled
          for itm in d.owed
            li
              p.person= itm.buyer
              p.pitem= itm.item
              p.cost= itm.cost
              button(type='button', class='btn btn-small btn-warning paidItem', data-paid='false') P

block content
  div.container
    div.listHold
      div.addItem
        input(type='text', name='addItemInput', class='form-control', placeholder='Add item name here', id='addItemInput')
        input(type='number', name='addQuantInput', class='form-control', placeholder='Add item quantity here', id='addQuantInput')
        button(type='button', class='btn btn-small btn-success addItemButton') +
      for d, i in data
        if(d.person == user.evename)
          +personTile(d, true)
        else
          +personTile(d, false)
  script(src='/js/listjs.js')