extends layout

block content
  if(user.evename)
    h1= user.evename
    p Total amount owed: #{total}
  else
    form(action='/evename', method='post')
      label Enter eve main character name:
      input(type='text', name='evename')
      button(type='submit', class='btn btn-default') Submit
  if(user.admin)
    h1 Member List
    table
      thead
        tr
          td Username
          td Email
          td Eve main
          td Delete
      tbody
        for m in memberList
          tr
            td= m.user
            td= m.email
            td= m.eve
            td
              button.btn.btn-danger.adminUserDel Delete
    h1 Update Registration Phrase
      form(action='/registerPhrase', method='post')
        label(for='updatePhrase')
        input(type='text', name='updatePhrase', class='form-control', id='updatePhrase', placeholder='Update registration phrase')
        button(type='submit', class='btn btn-default') Update phrase